body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  background: linear-gradient(to bottom, #0d3b66 0%, #376996 50%, #829cbc 100%);
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.25em;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.score {
  padding: 10px 20px;
  margin: 10px;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  border: 2px solid #020814;
  border-radius: 10px;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.red {
  background-image: linear-gradient(to right, #ed3838, #f49188);
}

.green {
  background-image: linear-gradient(to right, #038009, #69b170);
}

.score:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

#lobbyButton {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  transition:
    background-color 0.3s,
    transform 0.3s;
}

#lobbyButton:hover {
  background-color: #555;
}
