<!-- frontend/templates/public/test/testgame.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Trivia Game</h1>
    <div id="timer"></div>
    <div id="question-container"></div>
    <ul id="usersList"></ul>
    <div id="result"></div>
    <div id="snowman"></div>
    <div id="snowflakes"></div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script>
        const id = '{{ game_id }}';
        const socket = io.connect('http://' + document.domain + ':' + location.port + '/trivia/game/' + id);
        var username = '';

        socket.on('connect', function() {
            document.getElementById('question-container').innerText = 'Connected to Trivia Game';
            username = sessionStorage.getItem('username');
            socket.emit('register', username);
        });

        socket.on('disconnect', function() {
            document.getElementById('question-container').innerText = 'Disconnected from Trivia Game';
        });

        socket.addEventListener('user_list', (event) => {
            displayUsersList(event);
        });

        socket.on('question', function (question) {
            displayQuestion(question);
            startTimer();
        });

        socket.on('correct', function () {
            displayResult('Correct!');
        });

        socket.on('incorrect', function () {
            displayResult('Incorrect!');
        });

        function displayUsersList(userList) {
            const usersList = document.getElementById("usersList");

            if (userList) {
                usersList.innerHTML = '';

                for (const user of userList) {
                    const node = document.createElement("li");
                    const textnode = document.createTextNode(user);
                    node.appendChild(textnode);
                    usersList.appendChild(node);
                }

                usersList.style.display = 'block';
            } else {
                console.log('User list is undefined or empty.');
            }
        }

        function displayQuestion(question) {
            document.getElementById('question-container').innerHTML = `<p>${question.question}</p>`;
            

            for (let i = 1; i <= 4; i++) {
                const optionKey = 'option' + i;
                const optionButton = document.createElement('button');
                optionButton.textContent = question[optionKey];
                optionButton.addEventListener('click', () => {
                    sendAnswer(optionKey);
                });
                document.getElementById('question-container').appendChild(optionButton);
            }
        }

        function startTimer() {
            let timeLeft = 10; 
            const timerElement = document.getElementById('timer');

            const timerInterval = setInterval(() => {
                timerElement.innerText = `Time Left: ${timeLeft}s`;

                if (timeLeft <= 0) {
                    clearInterval(timerInterval);
                    timerElement.innerText = 'Time Expired!';
                    document.body.style.backgroundColor = '#FF4500';
                    setTimeout(() => {
                        document.body.style.backgroundColor = '#f2f2f2';
                    }, 1000);
                    setTimeout(() => {
                        socket.emit('next_question');
                    }, 2000);
                }

                timeLeft--;
            }, 1000);
        }

        function sendAnswer(selectedOption) {
            socket.emit('answer', selectedOption);
            document.getElementById('question-container').innerHTML = '';
        }

        function displayResult(result) {
            const resultElement = document.getElementById('result');
            resultElement.innerText = result;
            document.body.style.backgroundColor = result === 'Correct!' ? '#4CAF50' : '#FF4500';
            setTimeout(() => {
                document.body.style.backgroundColor = '#f2f2f2';
            }, 1000);
            setTimeout(() => {
                socket.emit('next_question');
            }, 2000);
        }

        socket.on('next_question', function () {
            document.getElementById('result').innerText = '';
            startTimer();
        });
    </script>
    <script>
        function createSnowflake() {
            const snowflake = document.createElement('div');
            snowflake.className = 'snowflake';
            snowflake.style.width = Math.random() * 10 + 'px';
            snowflake.style.height = snowflake.style.width;
            snowflake.style.left = Math.random() * window.innerWidth + 'px';
            document.getElementById('snowflakes').appendChild(snowflake);
        }

        for (let i = 0; i < 50; i++) {
            createSnowflake();
        }

        function animateSnowflakes() {
            const snowflakes = document.querySelectorAll('.snowflake');

            snowflakes.forEach(snowflake => {
                const speed = Math.random() * 5 + 1; 
                const startPosition = Math.random() * window.innerWidth;
                snowflake.style.left = startPosition + 'px';
                snowflake.style.animation = `snowfall linear infinite ${speed}s`;
            });
        }

        animateSnowflakes();
    </script>

    </body>
</html>
