<!doctype html>
<html lang="en">
  <head>
    <title>Blizzard Bounce</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/two.js/0.8.12/two.min.js"
      integrity="sha512-h2vpLLRs/XlIT0UoJ2MwWeDw63u7DGzAjJyeBhGUFTPm8RAZGQbB30IliCo+12LDKNZJADYtvR+IB4kXmbZHAA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/20.0.0/tween.umd.js"></script>
    <link rel="stylesheet" href="./static/style.css" />
  </head>
  <body>
    <canvas id="snowfall"></canvas>
    <script src="./static/snowfall.js"></script>
    <script src="./static/client.js"></script>
    <div id="score-container" class="box">
      <div class="score red">
        <p>Red Score:</p>
        <p id="redScore" class="points">0</p>
      </div>
      <div class="score green">
        <p>Green Score:</p>
        <p id="greenScore" class="points">0</p>
      </div>
      <p>
        Use the arrow keys to<br />move your ornament<br />around to knock the
        balls<br />into the opponent's goal!<br /><br />First to five points
        wins!
      </p>
    </div>
  </body>
</html>
