<!doctype html>
<html>
  <head>
    <title>Blizzard Bounce</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/two.js/0.8.12/two.min.js"
      integrity="sha512-h2vpLLRs/XlIT0UoJ2MwWeDw63u7DGzAjJyeBhGUFTPm8RAZGQbB30IliCo+12LDKNZJADYtvR+IB4kXmbZHAA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/20.0.0/tween.umd.js"></script>
  </head>
  <body>
    <script src="./static/client.js"></script>
    <div>
      <p>Blue Score:</p>
      <p id="blueScore">0</p>
    </div>
    <div>
      <p>Green Score:</p>
      <p id="greenScore">0</p>
    </div>
  </body>
</html>
