<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Snowfall Saga</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('lobby_view.static', filename='style.css') }}"
    />
    <link rel="stylesheet" href="/static/snow.css" type="text/css" />
  </head>
  <body>
    <div class="game-container">
      <a class="christmas-tree-button" href="/trivia"></a>
    </div>
    <div id="chat" class="chat-container">
      <div id="chat-box" class="chat-box"></div>
      <div>
        <input id="chat-input" type="text" maxlength="40" />
      </div>
    </div>
    <div class="inventory-container">
      <div id="sprite-grid" class="sprite-grid"></div>
      <button type="button" id="inv-btn" class="inventory-btn">
        Inventory
      </button>
    </div>
    <script>
      const playerId = "{{ player_id }}";
    </script>
    <script src="{{ url_for('lobby_view.static', filename='main.js') }}"></script>
    <script src="/static/snow.js"></script>
  </body>
</html>
