<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('login_view.static', filename='login.css') }}"
    />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/snow.css" />
    <title>Login</title>
  </head>
  <body>
    <h1>SNOWFALL SAGA</h1>
    <h2>Login</h2>
    <form method="post" action="{{ url_for('login_view.login') }}">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required /><br />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required /><br />
      <input type="submit" value="Login" />
    </form>

    <h2>Register</h2>
    <form method="post" action="{{ url_for('login_view.register') }}">
      <label for="new_username">New Username:</label>
      <input type="text" id="new_username" name="username" required /><br />
      <label for="new_password">New Password:</label>
      <input type="password" id="new_password" name="password" required /><br />
      <input type="submit" value="Register" />
    </form>

    <div class="game-container"></div>
    <canvas id="snowfall"></canvas>
    <script src="/static/snow.js" defer></script>
  </body>
</html>
