body {
  background-color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #3399ff;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  color: #3366cc;
  margin-top: 20px;
}

form {
  text-align: center;
  margin-top: 10px;
}

label {
  color: #3366cc;
  display: block;
  margin: 10px 0;
}

input {
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #3366cc;
  border-radius: 5px;
  width: 200px;
}

input[type="submit"] {
  background-color: #3399ff;
  color: #ffffff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3366cc;
}
