<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lobby Demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
  <body>
  <div class="game-container">
      <button class="minigame" id="trivia"></button>
  </div>
  <div class="player-info">
    <div>
      <label for="player-name">Your Name</label>
      <input id="player-name" maxlength="10" type="text" />
    </div>
  </div>
    <script type="module" src="/static/main.js"></script>
  </body>
</html>
