/* Trivia.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
  }
  
  div {
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  li:hover {
    background-color: #2980b9;
  }
  
  .selected-question {
    margin-top: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin: 10px;
    cursor: pointer;
  }
  
  input[type="radio"] {
    display: none; /* Hide the default radio input */
  }
  
  label {
    position: relative;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  label:hover {
    background-color: #2980b9;
  }
  
  input[type="radio"]:checked + label {
    background-color: #2ecc71;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #27ae60;
  }
  
  .countdown-container {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .countdown-text {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #e74c3c;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
  }
  
  .answer-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .answer-choice {
    position: relative;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .answer-choice:hover {
    background-color: #2980b9;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  input[type="radio"]:checked + .answer-choice {
    background-color: #2ecc71;
  }
  
  .submit-button {
    margin-top: 20px;
    padding: 15px;
    font-size: 18px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #27ae60;
  }

  /* The flashing for user action*/
  .correct-flash {
    background-color: #2ecc71 !important;
  }
  
  .incorrect-flash {
    background-color: #e74c3c !important;
  }