* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url(/static/images/map.png);
  image-rendering: pixelated;
}

.player-info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  display: flex;
  gap: 0.5em;
  align-items: flex-end;
}

/* players */
.grid-cell {
  position: absolute;
  width: 22px;
  height: 28px;
}

.player {
  scale: 3;
  transition: transform 1.1s ease-in-out;
}

.player.you {
  z-index: 1;
}

.player:not(.you):hover {
  filter: drop-shadow(0 0 0.1rem orchid);
}

.player.you .player_you-arrow {
  display: block;
}

.player.you:hover .player_sprite {
  background: url(/static/images/throw.gif);
  [data-direction="right"] & {
    background-position-x: 22px;
    right: 5px;
  }
}

.player_you-arrow {
  display: none;
  position: absolute;
  top: -30px;
  left: 5px;
  width: 7px;
  height: 5px;
  background: url(/static/images/arrow.png) no-repeat no-repeat;
}

.player_name-container {
  position: absolute;
  top: -25px;
  left: 40%;
  transform: translateX(-50%);
  font-size: 5px;
  padding: 1px 2px 1px;
  border-radius: 3px;
  background: #333;
  color: white;
  font-weight: bold;
  white-space: nowrap;
}

.player_sprite {
  overflow: hidden;
  top: -14px;
  background: url(/static/images/characters.png);
}

.player[data-direction="right"] .player_sprite {
  background-position-x: 23px;
}

.player_shadow {
  background: url(/static/images/shadow.png) no-repeat no-repeat;
}

/* messages */
input {
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #3366cc;
  border-radius: 5px;
}

.chat-container {
  position: fixed;
  margin: 20px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 300px;
  z-index: 2;
  right: 0;
}

.chat-container {
  bottom: 0;
}

.chat-box {
  background-color: rgba(119, 138, 198, 0.75);
  overflow-y: auto;
  height: 300px;
  padding: 0.1em;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.message {
  background-color: #546aea;
  color: #fff;
  border-radius: 10px;
  padding: 0.5em;
  margin: 0.05em;
  text-wrap: balance;
  overflow-wrap: break-word;
}

.message-text {
  margin: 0;
}

.message-time {
  float: inline-end;
  opacity: 0.5;
}

#chat-input {
  font-size: 15px;
  width: 100%;
}

.player_message-container {
  position: absolute;
  bottom: 60px;
  left: 40%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.player_message {
  font-size: 5px;
  padding: 1px 2px 1px;
  border-radius: 3px;
  margin: 0.05em;
  background: #546aea;
  color: white;
  font-weight: bold;
  white-space: nowrap;
  opacity: 1;
}

.player_message.fade-out {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.player_message.fade-out-fast {
  opacity: 0;
  transition: opacity 0.01s ease-in-out;
}

/* inventory */
.inventory-container {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 30px;
  image-rendering: pixelated;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
}

.inventory-btn {
  background-color: #3399ff;
  width: 200px;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #3366cc;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.inventory-btn:hover {
  background-color: #3366cc;
}

.sprite-container {
  background-color: rgba(119, 138, 198, 0.75);
  width: 200px;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 20px;
}

.grid-item {
  position: relative;
  width: 66px;
  height: 84px;
  padding: 30px;
  text-align: center;
  cursor: pointer;
}

.grid-item:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.sprite {
  position: relative;
  background: url(/static/images/characters.png);
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.sprite-cell {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-5%, -15%);
  width: 22px;
  height: 28px;
  scale: 3;
}

.points {
  display: flex;
  align-items: center;
  gap: 0.5em;
  background-color: rgba(119, 138, 198, 0.75);
  padding: 5px;
  border-radius: 5px;
}

.coin {
  width: 25px;
  height: 25px;
  background-image: url(/static/images/coin.png);
  background-size: cover;
  background-position: center;
}

.points-count {
  font-size: 24px;
  font-weight: bold;
}

/* props */
.christmas-tree-button {
  position: fixed;
  top: 200px;
  left: 200px;
  width: 50px;
  height: 80px;
  border: none;
  scale: 2;
  background: url(/static/images/waypoint.png) no-repeat no-repeat;
}

.leaderboard-button {
  position: fixed;
  top: 110px;
  left: 75px;
  width: 50px;
  height: 80px;
  border: none;
  scale: 3;
  background: url(/static/images/leaderboard.png) no-repeat no-repeat;
}

.blizzard_bounce-button {
  position: fixed;
  top: 110px;
  left: 350px;
  width: 50px;
  height: 80px;
  border: none;
  scale: 3;
  background: url(/static/images/soccer_ball.png) no-repeat no-repeat;
}

.christmas-tree-button:hover {
  filter: drop-shadow(0 0 0.75rem yellow);
}

.leaderboard-button:hover {
  filter: drop-shadow(0 0 0.75rem yellow);
}

.blizzard_bounce-button:hover {
  filter: drop-shadow(0 0 0.75rem yellow);
}

.store-button {
  position: fixed;
  top: 300px;
  left: 600px;
  width: 50px;
  height: 80px;
  border: none;
  scale: 4;
  background: url(/static/images/store.png) no-repeat no-repeat;
}

.store-button:hover {
  filter: drop-shadow(0 0 0.75rem yellow);
}
